<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chitrakala || Home Page</title>
    <link rel="stylesheet" href="css/chitrakala_home.css" />
  </head>
  <body>
    
    
    <div class="whole">
        
      <div class="nrityakala">
        
        <div class="left">
            <div class="header">
                <a href="home">Home</a>
                <select name="CulturalEvents" id="CulturalEvents">
                    <option value="CulturalEvents">Cultural Events</option>
                    <option value="Nrityakala">Nrityakala</option>
                    <option value="Nrityakala">Nrityakala</option>
                    <option value="Nrityakala">Nrityakala</option>
                    <option value="Nrityakala">Nrityakala</option>
                  </select>
                  <select name="LiteratureEvents" id="LiteratureEvents">
                    <option value="LiteratureEvents">Literature Events</option>
                    <option value="Nrityakala">Nrityakala</option>
                    <option value="Nrityakala">Nrityakala</option>
                    <option value="Nrityakala">Nrityakala</option>
                    <option value="Nrityakala">Nrityakala</option>
                  </select>
                  <a href="">FAQs</a>
                  <a href="#">About us</a>
                  <img src="images/profileIconBrown.svg" alt="">