<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <style>
        /* body{
				background-image:url('/public/images/homePageBg.svg');
				background-size: cover;
				background-repeat:no-repeat;
			} */
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <title>Stavya</title>
</head>
<body>

    <div class="header">
        <a href="home">Home</a>
        <select name="CulturalEvents" id="CulturalEvents">
            <option value="CulturalEvents">Cultural Events</option>
            <option value="Nrityakala">Nrityakala</option>
            <option value="Nrityakala">Nrityakala</option>
            <option value="Nrityakala">Nrityakala</option>
            <option value="Nrityakala">Nrityakala</option>
          </select>
          <select name="LiteratureEvents" id="LiteratureEvents">
            <option value="LiteratureEvents">Literature Events</option>
            <option value="Nrityakala">Nrityakala</option>
            <option value="Nrityakala">Nrityakala</option>
            <option value="Nrityakala">Nrityakala</option>
            <option value="Nrityakala">Nrityakala</option>
          </select>
          <a href="">FAQs</a>
          <a href="#">About us</a>
          <img src="images/profileIconBrown.svg" alt="">
          