<%- include('partials/header') %>

<% if(loginUserName != "Log in"){ %>
    <a style=" font-family: 'Open Sans', sans-serif; font-size: 0.9rem;" ><%=loginUserName%></a>
    <a style=" font-family: 'Open Sans', sans-serif; font-size: 0.7rem;" href="/logout" role="button">Log Out</a>
<% } else { %>
    <a style=" font-family: 'Open Sans', sans-serif; font-size: 0.9rem;" href="login"><%=loginUserName%></a>
<% } %>

    </div>


    <div class="containerLcdc">
        <div class="containerLcdcLeft">
            <div class="culturalContainerLcdc">
                <img class="culEvent" src="images/culturalEvent.svg" alt="">
                <a class="km-cult" href="culturalEvent">KNOW <span style="font-weight: 600;"> MORE</span></a>
                <P class="culDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</P>
    
            </div>
            <div class="literatureContainerLcdc">
                <img class="litEvent" src="images/literatureEvent.svg" alt="">
                <a class="km-lit" href="literatureEvent">KNOW <span style="font-weight: 600;"> MORE</span></a>
                <P class="litDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</P>
    
            </div>
        </div>
        <div class="containerLcdcRight">
            <div class="logo">
                <img src="images/instLogoRed.svg" alt="" class="intLogoRed">
            </div>
            <div class="socialMedia">
                <div class="icons">
                    <img src="images/phone.svg" alt="">
                    <img src="images/message.svg" alt="">
                    <img src="images/insta.svg" alt="">
                </div>
                <div class="mail">
                    <a class="culturalMail" href=""><span style="font-weight: 600;">cultural</span>@diu.iiitvadodara.ac.in</a>
                    <a class="literatureMail" href=""><span style="font-weight: 600;">literaure</span>@diu.iiitvadodara.ac.in</a>
                </div>
            </div>
        </div>
        
    </div>
    