<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nrityakala | Registration</title>
    <link rel="stylesheet" href="css/registration.css" />
  </head>
  <body>
    <div class="whole">
      <div class="top">
        <div class="header">
          <ul>
            <li><a href="">HOME</a></li>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i>
            </li>
            <li><a href="">EVENTS</a></li>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i>
            </li>
            <li><a href="">CULTURAL EVENTS</a></li>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i>
            </li>
            <hr />
          </ul>
          <img
            src="images/nitryakala logo.png"
            height="50px"
            width="50px"
            alt=""
            srcset=""
            class="shift"
          />
          <ul>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i>
            </li>
          </ul>
          <img
            src="images/register.png"
            height="50px"
            width="50px"
            alt=""
            srcset=""
            class="shift"
          />
        </div>
        <img src="images/n_st.png" alt="" height="70px" class="nst" />
        <h2 class="name">Nrityakala</h2>
        <p class="lowertt">Registration</p>
        <p class="lowerttt">form</p>
        <img src="images/dance.png" alt="" srcset="" class="dance" />
      </div>
      <form action="/nrityakala_submit" method="post">
        <div class="bottom">
            <!-- <form action="success.html" method="post"> -->
              <div class="leftform">
                <label for="leader" class="shiftf purple"
                  >Name of <span class="bold">Leader</span></label
                ><br />
                <input type="text" name="leader" class="shiftf box" required/><br /><br />
                <label for="p2name" class="shiftf purple"
                  >Name of
                  <span class="bold">Participant 2<sup>*</sup></span></label
                ><br />
                <input type="text" name="p2name" class="shiftf box" required/><br /><br />
                <label for="p3name" class="shiftf purple"
                  >Name of
                  <span class="bold">Participant 3<sup>*</sup></span></label
                ><br />
                <input type="text" name="p3name" class="shiftf box" required/><br /><br />
                <label for="tName" class="shiftf purple"
                  ><span class="bold">Team</span> Name<sup>*</sup></label
                ><br />
                <input type="text" name="tName" class="shiftf box" required/><br /><br />
                <label for="instituteName" class="shiftf purple"
                  ><span class="bold">Institute/College/University </span>Name<sup
                    >*</sup
                  ></label
                ><br />
                <input type="text" name="instituteName" class="shiftf box" required/><br />
              </div>
              <div class="rightform">
                <label for="leaderId" class="shiftf purple"
                  ><span class="bold">Institute ID </span>of Leader<sup
                    >**</sup
                  ></label
                ><br />
                <input type="text" name="leaderId" class="shiftf box" required/><br /><br />
                <label for="p2id" class="shiftf purple"
                  ><span class="bold">Institute ID </span>of Participant 2<sup
                    >**</sup
                  ></label
                ><br />
                <input type="text" name="p2id" class="shiftf box" required/><br /><br />
                <label for="p3id" class="shiftf purple"
                  ><span class="bold">Institute ID </span>of Participant 3<sup
                    >**</sup
                  ></label
                ><br />
                <input type="text" name="p3id" class="shiftf box" required/><br /><br />
                <label for="whatsappNo" class="shiftf purple"
                  ><span class="bold">WhatsApp</span> Phone Number of Leader</label
                ><br />
                <input type="text" name="whatsappNo" class="shiftf box" required/><br /><br />
                <label for="leaderEmailId" class="shiftf purple"
                  ><span class="bold">Email ID </span>of Leader</label
                ><br />
                <input type="text" name="leaderEmailId" class="shiftf box" required/><br />
              </div>
              <div class="submit">
                <!-- <img src="btntop.png" alt="" srcset="" height="40px" width="80px" class="upst"> -->
                <button type="nrityakala_submit"><span class="bold">Submit</span> Now</button>
                <!-- <img src="btnbottom.png" alt="" srcset="" height="40px" width="80px" class="upp"> -->
              </div>
            <!-- </form> -->
          </div>
      </form>
      
      <hr class="line"/>
      <div class="footer">
        <p>
          **By submitting this form, you agree to all the rules and regulations
          for the registered event under Stavya 2k22. In any kind of discrepancy
          whatsoever, the decision taken and governed by the Cultural Committee
          will be final and binding.
        </p>
        <p>
          ***Drop any valid numerical identification given by the authorized
          body of college/university/institute.
        </p>
      </div>
      <div class="footerc">
        <p>
          WEBSITE DEVELOPED BY <span class="bold">ASHISH KUMAR GUPTA</span>,
          <span class="bold">AVICHAL BANSAL</span> &
          <span class="bold">VARTUL SHRIVASTAVA</span> WITH ❤️
        </p>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/d0651fd824.js"
    crossorigin="anonymous"
  ></script>
  <script src="registration.js"></script>
</html>
