<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Successful</title>
    <link rel="stylesheet" href="css/success.css" />
  </head>
  <body>
    <div class="whole">
      <div class="top">
        <div class="header">
          <ul>
            <li><a href="">HOME</a></li>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i>
            </li>
            <li><a href="">EVENTS</a></li>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i>
            </li>
            <li><a href="">CULTURAL EVENTS</a></li>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i>
            </li>
            <hr />
          </ul>
          <img
            src="images/nitryakala logo.png"
            height="50px"
            width="50px"
            alt=""
            srcset=""
            class="shift"
          />
          <ul>
            <li>
              <i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i
              ><i class="fa-solid fa-angle-right"></i>
            </li>
          </ul>
          <img
            src="images/register.png"
            height="50px"
            width="50px"
            alt=""
            srcset=""
            class="shift"
          />
        </div>
        <img src="images/n_st.png" alt="" height="70px" class="nst" />
        <h2 class="name">Nrityakala</h2>
        <p class="lowertt">Registration</p>
        <p class="lowerttt">form</p>
        <img src="images/dance.png" alt="" srcset="" class="dance" />
      </div>
      <div class="middle">
        <img src="images/done.png" alt="" srcset="" />
        <p class="uppertt">
          Your Team <span class="bold underline"><%= teamName %></span> has
          <span class="bold">registered successfully</span>
        </p>
        <p class="upperttt">REGISTERED UNIQUE ID : <span class="bold">HXV</span></p>
        <p class="low">
          An email has been sent over to the leader's mail ID for your
          reference. We would like you to go through all the rules and
          regulations which we expect you to adhere in this event.
        </p>
        <div class="brochure">
          <i class="fa-solid fa-download fa-2x" style="margin-top: 1vh"></i>
          <p class="sidet">
            For more rules and regulations with regards to
            <span class="bold">Nrityakala</span>, Kindly
            <span class="underline">download</span> the
            <span class="bold">brochure</span>
          </p>
        </div>
      </div>
      <div class="footer">
        <p>
          WEBSITE DEVELOPED BY <span class="bold">ASHISH KUMAR GUPTA</span>,
          <span class="bold">AVICHAL BANSAL</span> &
          <span class="bold">VARTUL SHRIVASTAVA</span> WITH ❤️
        </p>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/d0651fd824.js"
    crossorigin="anonymous"
  ></script>
</html>
